.sidemenu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--off-white);
    color: var(--dark-blue);
    width: 15%;
    padding: 20px;
    padding-top: 40px;
    gap: 5px;
}

.sidemenu-link {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 5px;
    padding: 3px;
    color: var(--off-white);
    text-decoration: none;
}