.product-view {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    color: var(--dark-blue);
    width: 100%;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;

    gap: 10px;
    text-wrap: wrap;
}

.product-image-container {
    box-sizing: border-box;
    min-height: 100%;
    color: var(--dark-blue);
    min-width: 40%;
    max-width: 40%;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.product-image-container img {
    box-sizing: border-box;
    max-width: 100%;
}

.separator {
    border-top: 1px solid gray;
    width: 100%;
}

.number-input {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.arrows {
  display: flex;
  flex-direction: column;
}

.number-input button {
  padding: 4px;
  cursor: pointer;
  background-color: var(--light-red);
  color: var(--white);
  border: 0;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.number-input button:hover {
    background-color: var(--dark-red);
}


.product-cost {
    font-size: larger;
    font-weight: bold;
    color: var(--light-red);
    margin-top: 10px;
    margin-bottom: 10px;
}

.wishlist-button {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    height: 100%;
    background-color: var(--light-red);
}
.wishlist-button:hover {
    background-color: var(--dark-red);
}

.wishlist-button svg{
    height: 20px;
    width: 20px;
}
.wishlist-button svg path{
    height: 20px;
    width: 20px;
    fill: var(--white);
}

.product-info-title {
    margin: 0;
}

.review-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--off-white);
    border-radius: 10px;
    padding: 10px;
}

.review-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.review-field{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
}

.form-field {
    display: flex;
    flex: 1;
}

input[type="number"].review-input-num {
    /* Your overridden styles here */
    border: px solid var(--dark-blue);
    border-radius: 2px;
    width: 85%;
    padding: 0px;
}

input[type="text"].button {
    width: 85%;
    border: 0;
}

.input-title {
    width: 15%;
}

.review-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

h4 {
    margin: 0;
    margin-bottom: 10px;
}

.review-button-submit {
    width: 80%;
}

.review-button-field {
    display: flex;
    box-sizing: border-box;
    
}