.profile-view {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    width: 85%;
    height: 100%;
    padding: 40px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--white);
    border-radius: 5px;
    color: var(--dark-blue);
    
    h1 {
        margin-top: 0;
    }
}

.profile-container-padding {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.profile-container-top-bar {
    background-color: var(--dark-red);
    color: var(--white);
    font-size: large;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-row {
    display: flex;
    box-sizing: border-box;
    flex: 1;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.text-bold {
    font-weight: bold;
}

.profile-button-sign-out {
    background-color: var(--off-white);
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    border: none;
    color: var(--dark-blue);
    font-weight: bold;
    margin-top: 10px;
}
.profile-button-sign-out:hover {
    background-color: var(--dark-blue);
    color: var(--white);

}