.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Make the container stretch to the full height of the viewport */
}

.sub-header-container {
    display: flex;
    flex: 1;
    width: 100%; /* Set width to 100% to match the width of the parent container */
    /* Make this container stretch to fill the remaining vertical space */
}

.logo {
    height: 52px;
}