.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Make the container stretch to the full height of the viewport */
}

.sub-header-container {
    display: flex;
    flex: 1;
    /* Make this container stretch to fill the remaining vertical space */
}