footer {
    display: flex;
    box-sizing: border-box;
    height: 200px;
    color: white;
    padding: 20px;
    background-color: var(--dark-red);
}

footer h2 {
    margin-top: 0;
    font-size: large;
}

footer section {
    flex: 1;
    justify-content: space-between;
}
